[submodule "Project2Front-End"]
	path = Project2Front-End
	url = https://github.com/Jonathan-Clary/Project2Front-End.git
[submodule "Project2_Back_End"]
	path = Project2_Back_End
	url = https://github.com/Jonathan-Clary/Project2_Back_End.git
[submodule "TravelPlanner-AdminService"]
	path = TravelPlanner-AdminService
	url = https://github.com/asly-97/TravelPlanner-AdminService.git
[submodule "AdminFrontEnd"]
	path = AdminFrontEnd
	url = https://github.com/Jonathan-Clary/AdminFrontEnd.git
